{%extends 'users/user_base.html'%}

{%load static%}
{%block contents%}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <br><br><br>
    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
        <h1>Classification of Channel Encoders Using Convolutional Neural Network</h1>
        <h2>In digital communication systems, channel encoders
            play a crucial role in rectifying random errors introduced by the
            channel. </h2>
        <a href="{%url 'UserLogin'%}" class="btn-get-started scrollto">Get Started</a>
        <img src="{% static 'img/hero-img.png' %}" class="img-fluid hero-img" alt="" data-aos="zoom-in"
             data-aos-delay="150">
    </div>

</section>
{%endblock%}